@import '../styles/variables.module.scss';

@keyframes up-down {
  0% {
    visibility: visible;
    transform: translateY(0%);
    transform: scale(1);
  }
  25% {
    visibility: visible;
    transform: translateY(-33%);
    transform: scale(1.2);
  }
  50% {
    visibility: visible;
    transform: translateY(0%);
    transform: scale(1);
  }
  75% {
    visibility: visible;
    transform: translateY(-33%);
    transform: scale(1.2);
  }
  100% {
    visibility: visible;
    transform: translateY(0%);
    transform: scale(1);
  }
}

.top {
  position: relative;
  // overflow: hidden;
  min-height: 100vh;
  padding: 20px;
  font-size: 1.05rem;
  .topText {
    width: 80%;
    padding: 30px;
    margin: auto;
  }
  .downArrow {
    position: absolute;
    bottom: 70px;
    left: 45%;
    visibility: hidden;
    width: 10%;
    font-size: 16px;
    text-align: center;
    transition: 0.5s;
    img {
      animation-name: up-down;
      animation-duration: 3s;
      animation-delay: 7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      cursor: pointer;
    }
  }
  @include laptop {
    font-size: 2.2rem;
  }
}
.bottom {
  background-color: darken($backgroundColor, $amount: 4);
  min-height: 100vh;
  padding: 15px;
  .bottomContent {
    width: 100%;
    margin: auto;
    display: block;
    min-height: 95vh;
    border-radius: 7.5px;
    .projectCard {
      position: relative;
      overflow: hidden;
      max-width: max-content;
      height: max-content;
      margin: 5% auto;
      border-radius: 10px;
      background-color: $backgroundColor;
      transition: 0.5s;
      .projectInfo {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $backgroundColor;
        opacity: 0.9;
        width: 70%;
        font-size: 11px;
        height: 100%;
        overflow-y: auto;
        @include scrollbar;
        padding: 10px;
        margin-left: auto;
        transition: 0.5s;
        transform: translateX(100%);
        h4,
        h5 {
          text-transform: uppercase;
          font-weight: 800;
        }
        p {
          font-weight: 300;
        }
        button {
          text-transform: uppercase;
          padding: 15px;
          border: none;
          background-color: $textColor;
          color: $backgroundColor;
          border-radius: 4px;
          &:hover {
            background-color: darken($textColor, $amount: 5);
          }
          &:focus {
            outline: none;
          }
        }
      }
      &:hover {
        .projectInfo {
          transform: translateX(0%);
        }
      }
    }
  }
  @include laptop {
    padding: 60px;
    .bottomContent {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .projectCard {
        margin: 3%;
        .projectInfo {
          font-size: 14px;
        }
      }
    }
  }
}
